{% extends 'base.html.twig' %}

{% block title %}HDD{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>HDD </h1>
            </div>
        </div>
    </div> 
 
 
 <div class="col-lg-12">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle text-center" colspan="9">HDD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle text-center">
                        <th class="text-nowrap">Nom</th>
                        <th class="text-nowrap">Marque</th>
                        <th class="text-nowrap">Modele</th>
                        <th class="text-nowrap">Capacité</th>
                        <th class="text-nowrap">Vitesse de rotation</th>
                        <th class="text-nowrap">Actions</th>
                    </tr>

                    {% for hdd in showhdd %}
                        <tr class="align-middle text-center">
                            <td class="text-nowrap">{{hdd.nom}}</td>
                            <td class="text-nowrap">{{hdd.marque}}</td>
                            <td class="text-nowrap">{{hdd.modele}}</td>
                            <td class="text-nowrap">{{hdd.capacite}} Go</td>
                            <td class="text-nowrap">{{hdd.vitesserotation}} RPM</td>
                            <td class="text-nowrap">
                                <a href="{{ path('hdd.edit', {id: hdd.id}) }}">Modifier</a>

                                <form method="post" action="{{ path('hdd.delete', {id: hdd.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le disque dur : \'{{ hdd.nom }}\' ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hdd.id) }}">
                                    <button class="btn btn-danger"> supprimer
                                        <span class="bi bi-trash-fill"></span>
                                    </button>
                                </form>

                            <span class="badge text-bg-danger"></span></td>
                        </tr>
                        
                    {% endfor %}
            </table>
        </div>
    </div
</div>
    
    <a href="{{ path('hdd.add')}}">Ajoutez</a>
{% endblock %}