{% extends 'base.html.twig' %}

{% block title %}RAM{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>RAM</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Modifier :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                {{form_start(formram)}}

                {{form_row(formram.nom, {'attr' : {'placeholder' : "Désignation de la RAM"}})}}
                {{form_row(formram.marque, {'attr' : {'placeholder' : "Marque de la RAM"}})}}
                {{form_row(formram.modele, {'attr' : {'placeholder' : "Modele de la RAM"}})}}
                {{form_row(formram.typememoire, {'attr' : {'placeholder' : "Type de mémoire"}})}}
                {{form_row(formram.frequencememoire, {'attr' : {'placeholder' : "Frequence mémoire de la RAM"}})}}
                {{form_row(formram.capaciteparbarrette, {'attr' : {'placeholder' : "Capacite par barrette"}})}}

                <button  type="submit" class="btn btn-success">
                        Modifier
                </button>

                {{form_end(formram)}}
            </div>

            
        </div>
      </div> 

{% endblock %}

