{% extends 'base.html.twig' %}

{% block title %}Ordinateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>Ordinateur</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Modifier :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
               {{form_start(formordi)}}

                {{form_row(formordi.nom, {'attr' : {'placeholder' : "Désignation du ventiRad / AIO"}})}}
                {{form_row(formordi.marque, {'attr' : {'placeholder' : "Marque du ventiRad / AIO"}})}}
                {{form_row(formordi.modele, {'attr' : {'placeholder' : "Modele du ventiRad / AIO"}})}}
                {{form_row(formordi.alim, {'attr' : {'placeholder' : "Désignation du ventiRad / AIO"}})}}
                {{form_row(formordi.boitier, {'attr' : {'placeholder' : "Modele du ventiRad / AIO"}})}}
                {{form_row(formordi.cartemere, {'attr' : {'placeholder' : "Marque du ventiRad / AIO"}})}}
                {{form_row(formordi.gpu, {'attr' : {'placeholder' : " Support du processeur du ventiRad / AIO"}})}}
                {{form_row(formordi.hdd, {'attr' : {'placeholder' : "Vitesse de rotation minimum du ventiRad / AIO"}})}}
                {{form_row(formordi.cpu, {'attr' : {'placeholder' : "Vitesse de rotation maximum du ventiRad / AIO"}})}}
                {{form_row(formordi.ram, {'attr' : {'placeholder' : "Stock en réserve  du ventiRad / AIO"}})}}
                {{form_row(formordi.refroidisseur, {'attr' : {'placeholder' : "Vitesse de rotation maximum du ventiRad / AIO"}})}}
                {{form_row(formordi.ssd, {'attr' : {'placeholder' : "Stock en réserve  du ventiRad / AIO"}})}}


                <button  type="submit" class="btn btn-success">
                        Modifier
                </button>
                <br><br><br><br>

                {{form_end(formordi)}}
            </div>
        </div>
    </div> 

{% endblock %}    
                 