{% extends 'base.html.twig' %}

{% block title %}Carte mére{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Carte mére</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Modifier :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">

                {{form_start(formcm)}}

                {{form_row(formcm.nom, {'attr' : {'placeholder' : "Désignation de l'boitier"}})}}
                {{form_row(formcm.marque, {'attr' : {'placeholder' : "Marque de l'boitier"}})}}
                {{form_row(formcm.modele, {'attr' : {'placeholder' : "Modele de l'boitier"}})}}
                {{form_row(formcm.supportcpu, {'attr' : {'placeholder' : "Support du processeur"}})}}
                {{form_row(formcm.nbrcpusupporte, {'attr' : {'placeholder' : "Nombre de CPU supporté"}})}}
                {{form_row(formcm.chipset, {'attr' : {'placeholder' : "Chipset"}})}}
                {{form_row(formcm.typememoire, {'attr' : {'placeholder' : "Type de mémoire"}})}}
                {{form_row(formcm.capacitemaximalramparslot, {'attr' : {'placeholder' : "Capacité maximal de RAM par slot"}})}}
                {{form_row(formcm.capacitemaximalram, {'attr' : {'placeholder' : "Capacité maximal de RAM"}})}}

                <button  type="submit" class="btn btn-success">
                        Modifier
                </button>
                <br><br><br><br><br>

                {{form_end(formcm)}}
            </div>
        </div>
      </div> 

{% endblock %}